<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../static/css/login/styles.css}">
    <title>Login page</title>
</head>
<body>
    <div class="register-card">
        <h2>Login</h2>
    <form class="register-form" th:action="@{/login}" method="post">

            <input type="text" name="username" placeholder="Username"/>

            <input type="password" name="password" placeholder="Password"/>

        <button type="submit">Submit</button>
    </form>
    <div>
        <br> 
        <span>Do not have an account yet? </span>
        <a href="/registration">Register</a>
    </div>
</div>
</body>
</html>